
body {
	text-align: center;
}

.iElection {
	font-size: 120px;
}

.thumbElection, .thumbResult {
	font-size: 20px;
}

.playArea {
	padding: 50px 0;
}

.idElection {
	margin: 10px 0 15px 0;
}


#notSelectOption {
	opacity: 0.5;
}

/* Icono 'equal' estilo font-awesome personalizado */
.fa-equal {
    font-family: Arial;
}

.fa-equal:before {
    content: "=";
}
/* Fin personalizacion 'equal' */

#resButton {
	padding-top: 15px;
}

.messageWin {
	color: #4CBB17;
}

.messageDraw {
	color: orange;
}

.messageLost {
	color: red;
}
